/* GLOBAL  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto Condensed", sans-serif;
  color: #717171;
}
/* line style  */
.line::after {
  content: "";
  width: 0;
  height: 3px;
  background: linear-gradient(to right, #fbbd61, #ec7532);
  display: block;
  box-shadow: 0 0 20px 0;
  transition: 0.5s;
}

.line:hover::after {
  width: 100%;
}

.line.active::after {
  width: 100%;
}

.section {
  padding: 75px 0;
}

.title {
  color: #ec7532;
  font-size: 1.125rem;
  border-bottom: 1px solid black;
  text-transform: uppercase;
  letter-spacing: 1.7px;
  margin-bottom: 40px;
}

.title::after {
  content: "";
  background: linear-gradient(to right, #fbbd61, #ec7532);
  width: 125px;
  height: 4px;
  display: block;
  margin-top: 20px;
}

/* HEADER  */
header {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

head p {
  font-size: 14px;
  font-weight: 700;
}

#movieCyber .navbar-nav {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

#movieCyber .navbar-nav .nav-link {
  color: white;
  letter-spacing: 3px;
  line-height: 0.8rem;
  padding: 20px 24px;
}

/* CAROUSEL  */

#carouselMovie .carousel-item .carousel-caption {
  text-align: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
}

#carouselMovie .carousel-item .carousel-caption p:first-of-type {
  color: #fbbd61;
  font-size: 0.875rem;
  letter-spacing: 2px;
  margin: 0;
  animation-delay: 0.5s;
}

#carouselMovie .carousel-item .carousel-caption p:last-of-type {
  font-size: 1.125rem;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

#carouselMovie .carousel-item .carousel-caption h2 {
  font-size: 3.25rem;
  letter-spacing: 3px;
  margin-bottom: 10px;
}

.movieCarousel_trailer {
  animation-delay: 0.5s;
}

.movieCarousel_trailer > span {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  border: 2px solid white;
  display: inline-block;
  text-align: center;
  line-height: 48px;
  margin-right: 8px;
}

.movieCarousel_trailer button {
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 30px;
  font-size: 0.8rem;
  letter-spacing: 4px;
  background: linear-gradient(to right, #fbbd61, #ec7532);
  transition: 0.5s;
  position: relative;
  z-index: 0;
  overflow: hidden; /*bất kì thẻ con nào có nội dung nằm ngoài thẻ chả thì đều bị ẩn đi */
  outline: none;
}

.movieCarousel_trailer button:hover {
  color: white;
}

/* B1: Xây dựng overplay phủ lên thẻ cha (button) */
.movieCarousel_trailer button::before {
  content: "";
  width: 110%;
  height: 100%;
  display: block;
  background-color: #ec7532;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  transform: skewX(30deg) translateX(-110%);
  transition: 0.5s;
}

/* đã hover  
transform: skewX(30deg) translateX(-10px)
*/
.movieCarousel_trailer button:hover::before {
  transform: skewX(30deg) translateX(-10px);
}

.movieCarousel_trailer button span {
  position: relative;
  z-index: 2;
}

#carouselMovie .carousel-indicators {
  justify-content: start;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  margin-right: 0;
  margin-left: 0;
}

#carouselMovie .carousel-indicators button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid white;
  background: transparent;
  opacity: 1;
  box-sizing: border;
}
#carouselMovie .carousel-indicators button.active {
  background-color: white;
}

.movieCarousel_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, black, transparent);
}

/* NEW IN  */
.newIn__title {
  text-align: center;
}
.newIn__title h3 {
  font-size: 18px;
  color: #4a4a4a;
  margin: 1rem 0;
}

.newIn__title i {
  color: #fbbd61;
}

.newIn__img {
  position: relative;
  overflow: hidden;
}
.newIn__img img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.newIn__overplay {
  width: 200%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, #fbbd61, #ec7532);
  transform: skewX(30deg) translateX(-150%);
  opacity: 0.9;
  transition: 0.5s;
}

.newIn__img:hover .newIn__overplay {
  transform: skewX(30deg) translateX(-30%);
}

.newIn__play {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.5s;
}

.newIn__img:hover .newIn__play {
  opacity: 1;
}

.newIn__play i {
  width: 80px;
  height: 80px;
  border: 2px solid;
  border-radius: 50%;
  color: white;
  text-align: center;
  line-height: 80px;
  transform: scale(1);
}

.newIn__play i:hover {
  transform: scale(0.9);
}

.newIn__play a {
  display: block;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 4px;
  margin: 1rem 0;
}

.newIn__play p {
  color: white;
}
